doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ЦНИИ РТК

    // Bootstrap Core CSS
    link(href='../vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')

    // Custom Fonts
    link(href='../vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')

    // Theme CSS
    link(href='../css/styles.css', rel='stylesheet')

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

  body
    section.container
      .row
        .col-lg-8.col-lg-offset-2(style="background-color: #555; border-radius: 10px; margin-top: 20px; padding-bottom:20px;")
          br
          br
          img(src='../images/sert.jpg', style='max-width: 700px; max-height: 700px; border-radius:20px;')
          hr
          a(href='/', style='color: #aaa;') Испытательный центр ЦНИИ РТК, Санкт-Петербург, Тихорецкий пр. 21, тел: (812) 552-47-00
